.ipynb_checkpoints/
build/
dist/
venv/
data/
datasets/
notebooks/result_pickles/
results/

__pycache__/
*.html
*.so
*.pyc
*.c
*.cpp
.idea/
.tox/

.DS_Store
*egg-info/

MANIFEST*

docs/build/

docker/
scripts/
